.contactWraper{
    width: 90%;
    height: max-content;
    max-width: 1400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    padding: 0 2rem 3rem 2rem ;
    margin-bottom: 3rem;
   
    background: var(--marine-500);


    .title{
        display: flex;
        align-items: center;
        position: relative;
        height: 18rem;

        max-width: 800px;
       
        h1{
            margin-left: 50%;
            width: max-content;
            color: var(--gray-500);
            
            strong{
                color: var(--beige-500);
            }
        }

        img{
            position: absolute;
            object-fit: cover;

            height: 22rem;
            width: 18rem;

            top: -25%;

            display: none;

            @media (min-width:810px) {
                display: flex;
                
            }
        }

        @media (max-width:809px) {
            height: 10rem;
            padding: 2rem;
            h1{
                margin-left: 0;
                max-width: 400px;
            }
        }

        @media (max-width: 540px) {
            h1{
                max-width: 300px;
            }
        }

        @media (max-width: 360px) {
            h1{
                max-width: 250px;
            }
        }


    }

    .formBody{
        display: flex;
        height: max-content;
        gap: 6rem;
        width: 100%;
        max-width: 700px;
        


        .info{
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 1.5rem;
            
            .website{
                display: flex;
                flex-direction: column;

                a{
                    width: max-content;
                }
            }
          
            span{
                font-size: 0.75rem;
            }
            p{
                padding: 0.3rem 0 0 0;
                color: var(--beige-500);
                text-decoration: none;
            }

            img{
                height: 30px;
            }
            
        }

        .forms{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            div{
                display: flex;
                flex-direction: column;
                

                label{
                    font-size: 0.75rem;
                }
                input{
                    background: none;
                    border: none;
                    width: 350px;
                    color: var(--beige-500);
                    border-bottom: 1px solid var(--gray-500);
                    padding: 0.2rem;
                    outline: none;
                }
                .error{
                    padding: 0.5rem;
                    color: red;
                }

                span{
                    color: red;
                    font-size: 0.75rem;
                }

            }
           
            button{
                border: none;
            }

            Button{
                align-self: center;
            }

            .formMessage{
                textArea{
                    background: none;
                    border: none;
                    border-bottom: solid 1px var(--gray-500);
                    color: var(--beige-500);
                    height: 60px;
                    resize: none;
                    outline: none;
                
                
                    @media (max-width: 420px) {
                        width: 250px;
                    }
                }


            }



        }

        
        @media (max-width: 809px) {
            padding: 2rem 0;
            gap: 3rem;
            flex-direction: column;
            align-items: center;
            
            .info{
                flex-direction: row;
                margin-left: 2rem;
                width: 100%;
                justify-content: center;
        
            }

           
        }
        
        @media (max-width: 540px) {

            .info{
                margin-left: 1rem;
                
            }
        }

        @media (max-width: 420px) {

            align-items: flex-start;

            .info{
                flex-direction: column;
                width: max-content;
                
            }

            .forms{
                padding: 0 1rem;
                div{
                    input{
                        width: 250px;
                    }
                }          
            }

        }

        
    }

    @media (max-width: 809px) {
        margin-top: 3rem;
        
    }


}

