.button {
  color: var(--gray-50);
  padding: 10px;
  height: max-content;
  transition: 0.6s;
  border: none;
  min-width: max-content;
  align-self: flex-start;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 1.2rem;
    margin-left: 1rem;
    fill: white;
  }

  &:hover {
    text-decoration: none;
    background-color: var(--beige-600) !important;
  }
}
