.wrapper{
    display: flex;
    flex-direction: column;
    main{
        flex: 1;
    }
}

.container{
    background: var(--gray-50);
    padding-top: 6.5rem;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}