.main{
    padding: 8.5rem 4rem 2rem 4rem;
    height: 100vh;
    background: var(--gray-50);

    display: flex;
    justify-content: center;
    
}

.background{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(1400px - 8rem);
    align-items: center;
    background: var(--marine-500);
    padding: 3rem 0;

    gap: 2rem;

    p{
        width: max-content;
    }


}

